<form method="post" action="{{ path('player.delete', {id: player.id}) }}" style= display:inline-block onsubmit="return confirm('{% trans %}Are you sure you want to delete ?{% endtrans %}')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="btn btn-danger" style="font-size: 1em;padding: 15px;">{% trans %}Delete{% endtrans %}</button>
</form>