<form method="post" action="{{ path('quest.delete', {id: quests.id}) }}" style= display:inline-block onsubmit="return confirm('Êtes vous vraiment sur ?')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quests.id) }}">
    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete ?')">Delete</button>
</form>