<form method="post" action="{{ path('objet.delete', {id: objets.id}) }}" style= display:inline-block onsubmit="return confirm('{% trans %}Are you sure you want to delete ?{% endtrans %}')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objets.id) }}">
    <button class="btn btn-danger" >{% trans %}Delete{% endtrans %}</button>
</form>