<form method="post" action="{{ path('objet.delete', {id: objets.id}) }}" style= display:inline-block onsubmit="return confirm('Êtes vous vraiment sur ?')">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objets.id) }}">
    <button class="btn btn-danger" onclick="return confirm('êtes vous sur de vouloir supprimer ?')">Supprimer</button>
</form>